<h3>Crear categoria</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">ID</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="category.id" name="firstName">
    </div>

    <div class="form-group">
      <label for="name">Description</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="category.fullName" name="lastName">
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Categoria creada correctamente</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
