<h3>Crear categoria</h3>
<div [hidden]="submitted">
  <form (ngSubmit)="onSubmit()">

    <div class="form-group row mb-3">
      <label class="col-sm-2 col-form-label" for="instituteIdBrowser">Centro</label>
      <div class="col-sm-10">
        <input list="instituteId" class="form-control" name="instituteIdBrowser" id="instituteIdBrowser" [(ngModel)]="agreement.instituteId">
        <datalist id="instituteId">
          <option *ngFor="let institute of institutes | async" [value]="institute.id">
            {{institute.name}} ({{institute.location}}) ({{institute.province}})
          </option>
        </datalist>
      </div>
    </div>

    <div class="form-group row mb-3">
      <label class="col-sm-2 col-form-label" for="categoryIdBrowser">Categoria</label>
      <div class="col-sm-10">
        <input list="categoryId" class="form-control" name="categoryIdBrowser" id="categoryIdBrowser" [(ngModel)]="agreement.categoryId">
        <datalist id="categoryId">
          <option *ngFor="let category of categories | async" [value]="category.id">
            {{category.id}} ({{category.fullName}})
          </option>
        </datalist>
      </div>
    </div>

    <div class="form-group row mb-3">
      <label class="col-sm-2 col-form-label" for="points">Puntos </label>
      <div class="col-sm-10">
        <input type="number" min="0" step="any" class="form-control" id="points" required [(ngModel)]="agreement.points" name="points">
      </div>
    </div>

    <div class="form-group row mb-3">
      <label class="col-sm-2 col-form-label">Duracion </label>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="shortDuration" id="shortDuration" value="SHORT" [(ngModel)]="agreement.durationType" checked>
          <label class="form-check-label" for="shortDuration">Corta</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="LongDuration" id="longDuration" value="LONG" [(ngModel)]="agreement.durationType">
          <label class="form-check-label" for="LongDuration">Larga</label>
        </div>
      </div>
    </div>

    <div class="form-group row mb-3">
      <label class="col-sm-2 col-form-label" for="initialDate">Fecha inicial</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="initialDate" required [(ngModel)]="agreement.initialDate" name="initialDate">
      </div>
    </div>

    <div class="form-group row mb-3">
      <label class="col-sm-2 col-form-label" for="endDate">Fecha final</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="endDate" required [(ngModel)]="agreement.endDate" name="endDate">
      </div>
    </div>

    <div class="form-group row mb-3">
      <label class="col-sm-2 col-form-label">Contrato acceptado </label>
      <div class="col-sm-10">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="accepted" required [(ngModel)]="agreement.accepted" name="accepted" checked>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4 [hidden]="!submittedSuccessful">Categoria creada correctamente</h4>
  <h4 [hidden]="submittedSuccessful">Categoria no pudo crearse</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
