<h2>Contrato</h2>

<hr/>

<div *ngIf="agreement" >
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div>
          <label><b>Categoria: </b></label> {{agreement.category.id}} ({{agreement.category.fullName}})
        </div>
        <div>
          <label><b>Puntos: </b></label> {{agreement.points}}
        </div>
        <div>
          <label *ngIf="agreement.accepted"><b>Contrato aceptado </b></label>
          <label *ngIf="!agreement.accepted"><b>Contrato no aceptado </b></label>
        </div>
        <div>
          <label><b>Duracion: </b></label>
          <label *ngIf="agreement.durationType == agreementDurationType.LONG"> Larga</label>
          <label *ngIf="agreement.durationType == agreementDurationType.SHORT"> Corta</label>
        </div>
        <div>
          <label><b>Fecha inicio: </b></label> {{agreement.initialDate}}
        </div>
        <div>
          <label><b>Fecha fin: </b></label> {{agreement.endDate}}
        </div>
        <div>
          <label><b>Fecha creacion: </b></label> {{agreement.assignedDate}}
        </div>
      </div>
      <div class="col-sm">
        <h4>Centro</h4>
        <div>
          <label><b> Nombre: </b></label> {{agreement.institute.name}}
        </div>
        <div>
          <label><b> Tipo: </b></label> {{agreement.institute.type}}
        </div>
        <div>
          <label><b> Localidad: </b></label> {{agreement.institute.location}}
        </div>
        <div>
          <label><b> Provincia: </b></label> {{agreement.institute.province}}
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Lista de contratos</button><br>

