<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="add-agreement" class="nav-link" routerLinkActive="active">Añadir contrato</a>
    </li>
    <li class="nav-item">
      <a routerLink="agreements" class="nav-link" routerLinkActive="active">Lista de contratos</a>
    </li>
<!--    <li class="nav-item">-->
<!--      <a routerLink="centros" class="nav-link" routerLinkActive="active">Lista de centros</a>-->
<!--    </li>-->
    <li class="nav-item">
      <a routerLink="categories" class="nav-link" routerLinkActive="active">Lista de categorias</a>
    </li>

  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
